<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title></title>
    </head>
    <body>
        <h1>Hello {{ user.first_name }}!</h1>
        {% if route == "register" %}
        <h3>Thanks for registering. Share your secrets...</h3>
        {% elif route == "login" %}
        <h3>Welcome back. Tell us a secret...</h3>
        {% elif route == "post" %}
        <h3>Thanks for sharing! Got another?</h3>
        {% elif route == "like" %}
        <h3>Yeah, that's a great secret! Like another?</h3>
        {% endif %}
        <fieldset>
        <legend>Share your secret</legend>
        <form action='/share/{{user.id}}' method='post'>
            {% csrf_token %}
            <textarea name='secret'></textarea>
            <input type='submit' value='Post'>
        </form>
        </fieldset>
        <h2>Secrets...</h2>
        <table>
            {% for item in secrets %}
            <tbody>
            <tr>
            <td><h4>Shhh... {{ item.secret }}</h4></td>
            <td><p>* Revealed on: {{ item.created_at }}</p></td>
            <td><form action='/like/{{user.id}}/{{item.id}}' method='post'>
                {% csrf_token %}
                <input type='submit' value='Like'>
            </form></td>
            <td><p>{{ item.likes.count }}</p></td>
            <td>  OMG, delete this!</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <form action='/logout' method='post'>
                {% csrf_token %}
                <input type='submit' value='LOGOUT'>
            </form>
    </body>
</html>
